extends layout

block content
 h1 Hi there. Welcome  !
 a(href='/logout') Log Out
 div(class="container")
  p Enter number of Articles:
  input#number(type="text")
  button#button(type='button') Submit
 h2 Overall Analytics
 div#results
   table
     tr
       th Analytic
       th Result
     tr  
       td Top #{number} articles with highest number of revisions 
       td#revlist  
          each val in highestrevision
           li= val._id
     tr  
       td Top #{number} articles with lowest number of revisions 
       td#revlist  
          each val in lowestrevision
           li= val._id             
     tr       
       td Article edited by largest group of registered users
       td 
        each val in mostUserEdits
          li= val._id
     tr       
       td Article edited by smallest group of registered users
       td 
        each val in leastUserEdits
          li= val._id
     tr
       td Top 3 articles with longest history
       td 
        each val in longestRev
          li= val._id
     tr
       td Top 3 articles with shortest history
       td 
         each val in shortestRev
          li= val._id
                 
 canvas#barChart   
 canvas#pieChart
